body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 144px;
  text-align: center;
}

p,
#sum {
  color: green;
}

input {
  color: blue;
  font-size: 144px;
  width: 200px;
  border: 0;
}
